/* Hidden iframe */
iframe {
	margin: 0px !important;
	padding: 0px !important;
	border: 0px;
}


/* Positioning */
.mainContent {
}
.left {
	text-align: left;
	float: left;
	width: 80%
}
.right {
	text-align: right;
	float: right;
	width: 20%;
}


/* Links */
a.external { 
	background: url(/sakai-feeds-tool/img/external.png) right center no-repeat; 
	padding-right: 12px; 
}
h4 a.collapsibleLink:link, h4 a.collapsibleLink:visited, h4 a.collapsibleLink:active {
	text-decoration: none !important;
}
h4 a.collapsibleLink:hover {
	text-decoration: underline !important;
}

/* Subscriptions page */
.collapsibleZone {
	background:#FAFAFA;
}
   
/* ...but not to absolute links in this domain: */ 
/*a[href^=\"http://www.programmabilities.org\"] { 
	background: transparent; 
	padding-right: 0px; 
} */


/* Feed channel */
.feedTitle {
	/*background-color: #F3F3E5;*/
	background-color: #FAFAFA;
	margin-left: 5px;
	margin-right: 5px;
}
h4 a.feedTitle img {
	text-decoration: none !important;
	/*background-color: #F3F3E5 !important;*/
	background-color: #FAFAFA;
}
h4 a.feedTitle:link, h4 a.feedTitle:visited, h4 a.feedTitle:active {
	text-decoration: none !important;
}
h4 a.feedTitle:hover {
	text-decoration: underline !important;
}
.feedCount {
	/*color: #555555;*/
	font-weight: bold;
	/*font-size: 0.8em;*/
}

.feedDescription {
	color: #555555;
	line-height: 1.3em;
	margin: 0.5em 0pt;
}

.feedPublishedDate {
	color: black;
}


/* Feed entry */
.feedEntry {
	width: 100%;
	background: #FFFFFF none repeat scroll 0%;
	border: 1px solid silver;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	padding: 0pt 0.5em 0.5em;
}
td.feedEntry h5 {
	margin: 0.6em 0pt 0pt;
}


/* Feed entry details */
.feedTitleWrapper {
	margin: 0.6em 0pt 0pt;
	font-family: Arial,Helvetica,sans-serif;
	float: left;
	width: auto;
}
a.feedEntryTitle {
	font-size:100%;
	font-weight: bold;
}
a.feedEntryTitle img {
	text-decoration: none !important;
	background-color: white !important;
}
a.feedEntryTitle:link, a.feedEntryTitle:visited, a.feedEntryTitle:active {
	text-decoration: none !important;
}
a.feedEntryTitle:hover {
	text-decoration: underline !important;
}
.feedEntryDate { /*color:#555555;*/
	color: black;
	font-size: 0.8em;
}
.feedEntrySource {
	color:#555555;
	font-size: 0.8em;
	text-align: right;
	white-space: nowrap;
	float: right;
	margin: 0.6em 0pt 0pt;
	width: auto;
}
.feedEntryBody {
	color: #555555;
	line-height: 1.3em;
	margin: 0.5em 0pt;
	clear: both;
}
.readMore {
	color:#555555;
	/*color: black;*/
	font-size: 0.8em;
}
.readExternal {
	color:#555555;
	/*color: black;*/
	font-size: 0.8em;
}


/* Feed entry enclosure styling */
td.feedEntry ul.feedEnclosures {
	list-style-type: none;
	padding-left: 0px;
}
td.feedEntry ul.feedEnclosures li {
	display: inline;
	padding-right: 12px;
}
a.audio {
	background: transparent url(/library/image/silk/sound.png) no-repeat left;
	padding-left: 22px;
}
a.video {
	background: transparent url(/library/image/silk/film.png) no-repeat left;
	padding-left: 22px;
}
a.image {
	background: transparent url(/library/image/silk/image.png) no-repeatleft;
	padding-left: 22px;
}
a.other {
	background: transparent url(/library/image/silk/attach.png) no-repeat left;
	padding-left: 22px;
}


/* Authentication box */
.authPanel{
	background: #F4F4F4 none repeat scroll 0%;
	border: 1px solid silver;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	padding: 0pt 0.5em 0.5em;
}


/* Dnd Dojo style */
.drag {
		/*background-color: #F3F3E5;*/
		background-color: #FAFAFA;
        border : 1px solid white;
        width: 75%;
        cursor: move;
}


/* DnD JQuery - Unused*/
/*.container {
	width: 75%;
}
.dndItem {
	background : #eee;
	border : 1px solid white;
	height: 24px;
	cursor: move;
}
.dndItem:hover{
	background-color: #ffc;
}*/
